{% extends "layout.html" %}
{% block content %}
<h1>Where The Fuck Should I Eat?</h1>
      {% if isWeekend(currentDate) %}
        <nav>
          <a href="/brunch">Brunch</a>
          <a href="/dinner">Dinner</a>
        </nav>
      {% else %}
        <nav>
          <a href="/breakfast">Breakfast</a>
          <a href="/lunch">Lunch</a>
          <a href="/dinner">Dinner</a>
        </nav>
      {% endif %}
      <div class="col-xs-offset-4 col-xs-4">
        <h1>{{ failText }}</h1>
      </div>
{% endblock %}